{{#extends 'base'}}

{{#block 'content'}}
<a href="/pet/create" class="btn btn-primary btn-sm">Add New Pet</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>

        {{#each pets}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.category.name}}</td>
            <td>
                <a href="/pet/{{this.id}}/edit" class="btn btn-primary btn-sm">Edit</a>
                <a href="/pet/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
</table>
{{/block}}

{{/extends}}